.swiper {
  height: 100vh;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.first {
  background-color: black;
}
.second {
  background-color: green;
}

.third {
  background-color: pink;
}
